<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <title>Add Product</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="mt-4 mb-3">Add Product</h1>
    <form th:action="@{/add-product}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Enter product name" />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" th:field="*{description}" class="form-control" placeholder="Enter product description" />
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:field="*{price}" class="form-control" placeholder="Enter product price" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block">Add Product</button>
        </div>
    </form>
</div>
</body>
</html>
