<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <title>Register</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="mt-4 mb-3">Register</h1>
    <form th:action="@{/register}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Enter your username" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Enter your password" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Enter your email" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
</div>
</body>
</html>
